.menu-lines {
  position: relative;
  display: inline-block;
  width: 47px;
  height: 37px;
  vertical-align: middle;
} 
.menu-lines span {
  position: absolute;
  display: block;
  height: 6px;
  width: 70%;  
}
@media(min-width: 768px) {
  .menu-lines span {
    height: 8px !important;
    width: 100% !important;
  }
  .menu-lines span:nth-child(2) {
    top: 15px !important;
  }
  .menu-lines span:nth-child(3) {
    top: 30px !important;
  }
}

.menu-lines span:nth-child(1) {
  top: 0
}
    
.menu-lines span:nth-child(2) {
  top: 10px
}
    
.menu-lines span:nth-child(3) {
  top: 20px
}
.bar1 {
  background: #eb1c24;
}
.bar2 {
  background-color: #1565c0;
}
.bar3 {
  background: #eb1c24;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-12px, 12px) ;
}
    
.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}